<h1> <%= t "homepage.index.first_header" %> </h1>
<p> <%= t "homepage.index.first_paragraph" %> </p>

<p> Riferimento a Figaro. Visualizziamo la variabile d'ambiente ma ATTENZIONE questo ti espone ad attacchi. Non lo fare nell'applicazione reale.</p>

<p>  ENV['SECRET_KEY_BASE'] = <%= ENV['SECRET_KEY_BASE'] %> </p>

<!-- <h1> Questa è l'homepage </h1>
<p> Il testo verrà preso dal database ma alcuni messaggi sono passati dall'applicazione ed è quindi bene che vengano tradotti per essere pronti a supportare più lingue. </p> -->
